body {
  margin: 0;
  overflow: hidden;
  background: #000;
  pointer-events: none;
}

canvas {
  display: block;
}

#playBtn{
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  font-size: 18px;
  z-index: 11;
}
audio {
  position: absolute;
  top: 80px;
  left: 20px;
  z-index: 1000;
}
/* 画面全体を覆う暗いレイヤー */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  pointer-events: auto; /*クリック止める用 */
}

/* 中央の再生アイコン */
#playBtn {
  top: 35vh;
  left: 39vw;
  width: 250px;
  opacity: 1;
  cursor: pointer;

  animation: pulseAnim 1.0s linear infinite;
}
@keyframes pulseAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07); /* 大きくなる */
  }
  100% {
    transform: scale(1); /* 元に戻る */
  }
}

/* 左上の停止ボタン */
#pauseBtn {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 90px;
  height: auto;
  opacity: 1;
  cursor: pointer;
  z-index: 9;
}
#silhouette {
  position: fixed;
  top: 40px;
  left: 5vw;
  right: 0px;
  bottom: 40px;
  width: 90vw;
  height: 93vh;   /* 必要なら調整810px */
  /*object-fit: contain;*/
  display: block;
  z-index: 2;
  pointer-events: none;
}
#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
}
#lyrics {
    position: absolute;
    text-align: center;
    font-family: 'SimSun';
    bottom: 3%;
    width: 100%;
    font-size: 32px;
    color: white;
    z-index: 3;
  }
.word {
    font-family: 'SimSun';
    letter-spacing: 1px;
    display: inline-block;
    bottom: 3%;
    font-size: 32px;
    color: white;
    z-index: 3;
}
/* #lyrics-left { 
  left: 5%; 
}
#lyrics-right { 
  right: 5%; 
} */
canvas {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  background: transparent !important;
  z-index: 1;
}




